body, html {
    height: 100%;
    margin: 0; /* Reset default margin */
    overflow-y: auto; /* Add vertical scrollbar */
  }
  
  /* Adjust your existing styles */
  .how-it-works-container {
    background-image: url('../../assets/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the viewport height */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .how-it-works-image {
    margin-top: 20px;
  }
  
  .how-it-works-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .how-it-works-card {
    background-color: #AC0067;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    width: 280px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .how-it-works-datalist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .how-it-works-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .how-it-works-button {
    background-color: #AC0067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .how-it-works-button:hover {
    background-color: #8A0054;
  }  