.how-it-works-container{
    background-image: url('../../assets/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0;
}

.how-it-works-image{
    margin-top: 50px;
}

.how-it-works-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works-card{
    background-color: #AC0067;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 50px;
    width: 280px;
    height: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.how-it-works-datalist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.how-it-works-button{
    background-color: #AC0067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Existing CSS code */

/* Media query for smaller screens */
/* @media (max-width: 1024px) {
    .how-it-works-title h2{
        font-size: 40px;
    }
  
    .how-it-works-card {
      width: 400px;
      height: 350px;
      padding: 15px;
      margin-top: 30px;
      font-size: 28px;
    }
  
    .how-it-works-datalist {
      margin-top: 200px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .how-it-works-button-container {
      margin-top: 50px;
    }

    .how-it-works-button{
        padding: 20px;
    }
  }
   */