html, body {
  height: 100%;
  margin: 0;
  overflow: auto; /* Ensure the page has a scrollbar if needed */
}

.training-header {
  width: 100%;
  background-color: white;
}

.training-header img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.training-content {
  background-color: #AC0067;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 20px; /* Reduce margin-top for better fit */
  padding: 20px; /* Add padding to content */
}

.training-centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust padding for better fit */
}

.training-white-background {
  margin-top: 20px; /* Adjust margin-top */
  border-radius: 40px; /* Simplify border-radius */
  background-color: white;
  padding: 20px; /* Add padding for better fit */
}

.training-inner-div {
  padding: 16px;
}

.training-title {
  color: black;
  text-align: center;
  margin-top: 20px;
}

.training-subtitle {
  color: black;
  text-align: center;
  margin-top: 20px; /* Reduce margin-top */
}

.training-row {
  margin-top: 20px; /* Reduce margin-top */
  margin-bottom: 20px;
}

.training-column {
  text-align: center;
  margin: 10px; /* Add margin for spacing between columns */
}

.training-column img {
  cursor: pointer;
  width: 80%; /* Ensure icons are responsive */
  max-width: 100px; /* Set a maximum width */
}

.training-text {
  color: #147671;
  margin-top: 10px; /* Adjust margin-top */
}

.training-column.disabled {
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .training-header img {
    height: auto; /* Ensure header image is responsive */
  }

  .training-content {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  .training-white-background {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  .training-title, .training-subtitle {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  .training-row {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}