.voice-box-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.voice-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}