.signup-container{
    height: 100%;
}

.signup-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.signup-main-container{
    background-color: #AC0067;
    color: white;
    height: 100%;
    margin-top: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
}

.signup-main-container-holder{
    background-color: white;
    color: black;
    padding: 16px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.signup-main-container-holder-lines{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-main-container-form-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
}

.signup-other-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

/* @media (max-width: 1024px){
    .signup-username-handler{
        margin-top: 30px;
        padding: 12px;
        font-size: 24px;
    }

    .signup-email-handler{
        margin-top: 30px;
        padding: 12px;
        font-size: 24px;
    }

    .signup-password-handler{
        margin-top: 30px;
        padding: 12px;
        font-size: 24px;
    }

    .signup-button{
        padding: 30px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .signup-other-options{
        font-size: 24px;
    }
} */